{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Anotações</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn-large waves-effect waves-light purple">Salvar Nota</button>
      </div>
      <br>
    </form>
    <div class="container">
      <br><br>
      <div class="row center">
        <a href="" id="download-button" class="btn-large waves-effect waves-light purple">Cadastrar novo produto...</a>
      </div>
      <br><br>

    </div>

  </div>

  <div class="container">
    <div class="">
      <label for="search">Digite produto que deseja buscar</label>
      <input type="text" id="login">
    </div>
  </div><br>
  <div class="container">
    <div class="text">
    <h5 style="color:purple;"> Vai vencer a Garantia em...<a style="color:purple;margin-left:60px;font-weight: bold;" href="#">Ver todos</a></h5>
  </div>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img style="height:100px; width:100px;" src="/static/images/baixados.jpeg"/></h2>
            <h5 class="center">Lampada <a style="margin-left:10px;" href="" class="btn-small waves-effect waves-light red">5 dias</a></h5>

            <p class="light">Lampada utilizada para iluminação principal do banheiro, efetuada a compra dia 19/09/2018</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img style="height:100px; width:100px;" src="/static/images/torneira.jpeg"/></h2>
            <h5 class="center">Torneira <a style="margin-left:10px;" href="" class="btn-small waves-effect waves-light red">8 dias</a></h5>

            <p class="light">Torneira utilizada para higinenização no banheiro, efetuada a compra dia 22/10/2019</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img style="height:100px; width:100px;" src="/static/images/chuveiro.jpeg"/></h2>
            <h5 class="center">Chuveiro <a style="margin-left:10px;"href="" class="btn-small waves-effect waves-light orange">29 dias</a></h5>

            <p class="light">Chuveiro utilizado para o banheiro, principal ferramenta para banho, efetuada a compra dia 03/05/2021</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
    {% endblock %}